$green: #1ECD97;
$gray: #bbbbbb;
.button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;
  cursor: pointer;
  // transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  // &:after {
  //   content:"SUBMIT";
  // }
}